<!-- 这段代码通常放在网站的头部或导航栏部分 -->
<nav>
  <!-- 其他导航链接 -->
  <a href="/" class="home-icon" title="Home">
    <img src="/images/logo/logo.svg" alt="Home">
  </a>
  <!-- 其他导航链接 -->
</nav>


<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ site.baseurl }}"><img width="{{ site.logo.desktop_width }}" height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.desktop | relative_url }}" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ site.baseurl }}"><img width="{{ site.logo.mobile_width }}" height="{{ site.logo.mobile_height }}" alt="{{ site.title }}" src="{{ site.logo.mobile | relative_url }}" /></a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>
