<div class="partners-container">
  <h1>Our Clients</h1>
  <div class="partners-list">
    <img src="https://www.quedic.com/images/Binance-Logo.jpg"> 
    <img src="https://www.quedic.com/images/okx-review.png"> 
    <img src="https://www.quedic.com/images/bybit.jpg"> 
    <img src="https://www.quedic.com/images/bitget.png">
    <img src="https://www.quedic.com/images/htx.png"> 
    <img src="https://www.quedic.com/images/WaterDrip_Capital.png"> 
    <img src="https://www.quedic.com/images/woo.jpg"> 
    <img src="https://www.quedic.com/images/orderly.png"> 
    <img src="https://www.quedic.com/images/8sian.png">
    <img src="https://www.quedic.com/images/chatyn2.png">
    <img src="https://www.quedic.com/images/mhaya.png">
    <img src="https://www.quedic.com/images/assure.png">&nbsp
   
  </div>
</div>
