<script src="https://translate.google.com/translate_a/element.js?cb=initLang"></script>
<script>
  window.restoreLang = function () {
    var iframe = document.querySelector('.skiptranslate iframe')
    if (!iframe) return

    var innerDoc = iframe.contentDocument || iframe.contentWindow.document
    var restore_el = innerDoc.getElementsByTagName('button')

    for (var i = 0; i < restore_el.length; i++) {
      if (restore_el[i].id.indexOf('restore') >= 0) {
        restore_el[i].click()
        return
      }
    }
  }

  window.initLang = function () {
    $('.toggle-lang').show()

    // toggle lang
    $('.toggle-lang .language').click(function (ev) {
      ev.stopPropagation()
      $('.toggle-lang-dropdown').toggleClass('open')
    })

    // click outside
    $(window).click(function (e) {
      const isOpen = $('.toggle-lang-dropdown').hasClass('open')
      if (!isOpen) return
      $('.toggle-lang-dropdown').removeClass('open')
    })

    const currentLang = (Cookies.get('googtrans') || '').replace('/auto/', '')
    if (currentLang) {
      $('.lang-select').each(function () {
        if ($(this).data('lang') === currentLang) {
          $(this).addClass('active')
        }
      })
    }
    $('.lang-select').click(function () {
      const lang = $(this).data('lang')
      const isActive = $(this).hasClass('active')
      if (isActive) {
        $(this).removeClass('active')
        window.restoreLang()
      } else {
        const input = document.querySelector('select.goog-te-combo')
        if (!input) return
        input.value = lang
        input.dispatchEvent(new Event('change'))
        $('.lang-select').removeClass('active')
        $(this).addClass('active')
      }
    })

    const $el = document.createElement('div')
    $el.id = 'google_translate_element'
    document.body.appendChild($el)

    new google.translate.TranslateElement(
      {
        pageLanguage: '',
        autoDisplay: false,
        layout: google.translate.TranslateElement.InlineLayout.VERTICAL
      },
      'google_translate_element'
    )
  }
</script>