.partners-container {
  h1 {
    width: 100% !important;
  }

  .partners-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    img {
      height: 100px;
      margin: 0 !important;
    }

    @media (max-width: 1000px) {
      img {
        height: 60px;
      }
    }
  }
}

.page-clients {
  .partners-container {
    padding-top: 120px;
    h1 {
      text-align: center;
    }
    .partners-list {
      justify-content: center;
      img {
        height: 120px;
      }
    }
  }
}
