.translated-ltr {
  body {
    top: 0 !important;
  }
}

html[lang='auto'] {
  body {
    top: 0 !important;
  }
}

.skiptranslate {
  display: none !important;
  border: none;
  box-shadow: 0 0;
  -webkit-box-shadow: 0 0;
}

.toggle-lang {
  display: none;
  font-size: 0;
  position: relative;

  @include media-breakpoint-up(md) {
    display: block;
  }

  .language {
    user-select: none;
    cursor: pointer;
    fill: $primary;
    padding-left: 12px;
  }

  .toggle-lang-dropdown {
    position: absolute;
    top: 45px;
    right: -35px;
    border: 1px solid $white-offset;
    max-height: 0;
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 0 15px 40px 5px rgba(20, 20, 20, 0.07);
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.2s linear;
    margin: 0;

    &.open {
      display: inline-block;
      max-height: 1000px;
    }

    li {
      display: block;
      width: 86px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-bottom: 0;

      &.active {
        background-color: $white-offset;
      }
      img {
        width: 24px;
        height: auto;
      }
    }
  }
}
